body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: center;
  background: linear-gradient(135deg, #FF7E5F 10%, #FF6F61 50%, #FF3C3C 90%);
}

#categories-page-h { 
  font-size: 3rem;
  color: white;
}

#categoriesContainer {
  display: grid;
  grid-template-columns: repeat(6, auto);
  gap: 2rem;
}

.flip-card {
  /* border: 1px solid red;
  border-radius: 10px;
  background-color: white; */
  width: 10vw;
  min-width: 10rem;
  height: 40vh;
  perspective: 1000px;
  text-align: center;
}

.flip-card h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 40px;
  overflow-wrap: break-word;
  font-size: 1rem;
  padding: 0.5rem;
  height: 2.2rem;
  /* width: 100%; */
}

/* .flip-card-img {
  width: 100%;
} */

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #bbb;
  color: black;
  background-size: 100%;
  background-position: center;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.start-quiz-button {
  border: 10px solid;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}